@model List<Product>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2>Everything Shop - The right place for all your needs!</h2>
    <h1>Welcome</h1>
</div>
<hr />

<div class="container card-columns">
    @for (int i = 0; i < 2; i++)
    {
        @for (int j = 0; j < 4; j++)
        {
            var product = Model[4 * i + j];
            <div class="card">
                <div class="card-body">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                        <img class="card-img-top img-fluid" src="@product.Picture" alt="@nameof(product.Picture)" />
                    </a>
                    <div class="card-body">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                            <h5 class="card-title">@product.Name</h5>
                        </a>
                        <p class="card-text">@product.Price Eur</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
