@model EverythingShop.WebApp.Models.Product

@{
    ViewData["Title"] = Model.Name;
}

<div class="container offset-md-1 col-md-10">
    <div class="row py-3">
        <div class="col-md-4">
            <img class="img-fluid" src="@Model.Picture">
        </div>
        <div class="col-md-8">
            <h4 class="p-2">@Model.Name</h4>
            <h5 class="p-2">@Model.Price Eur</h5>
            <p class="p-2">@Model.Description</p>
            <div class="form-inline">
                <label class="font-weight-bold">In your cart:</label>
                <input id="quantity-of-product" class="form-control mx-2" style="width: 42px" value="@ViewBag.QuantityOfProduct" disabled />
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="row p-2">
                    <div class="col-md m-2 p-0">
                        <button type="button" class="btn btn-primary w-100" onclick="addProductToCart(@Model.Id, 'quantity-of-product')">
                            Add to My Cart
                        </button>
                    </div>
                    <div class="col-md m-2 p-0">
                        <button type="button" class="btn btn-primary w-100" onclick="removeProductFromCart(@Model.Id, 'quantity-of-product')">
                            Remove from My Cart
                        </button>
                    </div>
                </div>
            }
            else
            {
                <div class="row p-2">
                    <div class="col-md m-2 p-0">
                        <button type="button" class="btn btn-primary w-100" disabled>Add to My Cart</button>
                    </div>
                    <div class="col-md m-2 p-0">
                        <button type="button" class="btn btn-primary w-100" disabled>Remove from My Cart</button>
                    </div>
                </div>
                <div class="text-center">
                    <h6>Log in before adding products into your cart, please.</h6>
                </div>
            }
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit This Item</a>
        </div>
    }
</div>
