@model EverythingShop.WebApp.Models.Product

@{
    ViewData["Title"] = Model.Name;
}

<div class="container offset-md-1 col-md-10">
    <div class="row py-3">
        <div class="col-md-4">
            <img class="img-fluid" src="@Model.Picture">
        </div>
        <div class="col-md-8">
            <h4 class="p-2">@Model.Name</h4>
            <h5 class="p-2">@Model.Price Eur</h5>
            <p class="p-2">@Model.Description</p>
            <div class="form-inline">
                <label class="font-weight-bold">In your cart:</label>
                <input id="quantity-of-products" class="form-control mx-2" style="width: 42px" value="@ViewBag.QuantityOfProduct" disabled />
            </div>
            <div class="row p-2">
                <div class="col-md m-2 p-0">
                    <button type="button" class="btn btn-primary w-100" onclick="addProductToCart(@Model.Id, 'quantity-of-products')">
                        Add to My Cart
                    </button>
                </div>
                <div class="col-md m-2 p-0">
                    <button type="button" class="btn btn-primary w-100" onclick="removeProductFromCart(@Model.Id, 'quantity-of-products')">
                        Remove
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</div>
