@model EverythingShop.WebApp.Models.SearchProductViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">

    <div class="accordion col-md-3 p-1" id="all-products-accordion">
        @{ int index = 0; }
        @foreach (var mainCategory in Model.AllCategories)
        {
            <div class="card">
                <div class="card-header" id="heading-@index">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-@index"
                                aria-expanded="true" aria-controls="collapse-@index">
                            @mainCategory.Name
                        </button>
                    </h2>
                </div>
                <div id="collapse-@index" class="collapse" aria-labelledby="heading-@index" data-parent="#all-products-accordion">
                    <div class="card-body p-0">
                        <ul class="list-group">
                            @foreach (var subCategory in mainCategory.SubCategories)
                            {
                                <li class="list-group-item">
                                    <a asp-action="Index" asp-route-subCategoryId="@subCategory.Id">@subCategory.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            index++;
        }
    </div>

    <div class="col-md-9 p-1">

        <form class="form-row" asp-controller="Products" asp-action="Index" method="get">
            <input type="number" name="SubCategoryId" value="@Model.SubCategoryId" style="display: none">
            <div class="form-group col-md-2">
                <label asp-for="@Model.PriceFrom"></label>
                <input asp-for="@Model.PriceFrom" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label asp-for="@Model.PriceTo"></label>
                <input asp-for="@Model.PriceTo" class="form-control" />
            </div>
            <div class="form-group col-md-7">
                <label asp-for="@Model.SearchString"></label>
                <input asp-for="@Model.SearchString" class="form-control" />
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-primary" style="position: absolute; bottom: 0px;">Filter</button>
            </div>
        </form>

        @foreach (var item in Model.Products)
        {
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="img-thumbnail" src=@Html.DisplayFor(modelItem => item.Picture)>
                    </div>
                    <div class="col-md-7 p-1">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Price) Eur</p>
                            <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.Description)</small></p>
                        </div>
                    </div>
                    <div class="col-md-1 p-1">
                        <div class="card-body p-1">
                            <div>
                                <button type="button" class="btn btn-primary m-1"><i class="bi bi-cart-plus"></i> </button>
                            </div>
                            <div>
                                <a href="#" type="button" class="btn btn-primary m-1"><i class="bi bi-cart-dash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>


@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].SubCategory)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Picture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
