@model EverythingShop.WebApp.Models.SearchProductViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Products</h1>

<div>
    @foreach (var item in Model.Products)
    {
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-thumbnail" src=@Html.DisplayFor(modelItem => item.Picture)>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Price) Eur</p>
                        <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.Description)</small></p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <div>
                            <button type="button" class="btn btn-primary"><i class="bi bi-cart-plus"></i> </button>
                        </div>
                        <div>
                            <a href="#" type="button" class="btn btn-primary"><i class="bi bi-cart-dash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Products" asp-action="Index" method="get">
    <p>
        Main Category: <select asp-for="MainCategory" asp-items="Model.MainCategories">
            <option value="">All</option>
        </select>

        Sub Category: <select asp-for="SubCategory" asp-items="Model.SubCategories">
            <option value="">All</option>
        </select>

        Product Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].SubCategory)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Picture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
