@model EverythingShop.WebApp.Models.SearchProductViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Products</h1>
<hr />

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New Item</a>
    </p>
}

<div class="row">

    <div class="col-md-3 p-1">
        <div class="list-group">
            @foreach (var mainCategory in Model.AllCategories)
            {
                <h5 class="list-group-item">@mainCategory.Name</h5>

                @foreach (var subCategory in mainCategory.SubCategories)
                {
                    @if (Model.SubCategoryId.HasValue && Model.SubCategoryId == subCategory.Id)
                    {
                        <a type="button" class="list-group-item list-group-item-action btn-primary"
                           asp-action="Index" asp-route-subCategoryId="@subCategory.Id">
                            @subCategory.Name
                        </a>
                    }
                    else
                    {
                        <a type="button" class="list-group-item list-group-item-action"
                           asp-action="Index" asp-route-subCategoryId="@subCategory.Id">
                            @subCategory.Name
                        </a>
                    }
                }
            }
        </div>
    </div>

    <div class="col-md-9 p-1">

        <form class="form-row" asp-controller="Products" asp-action="Index" method="get">
            <input type="number" name="SubCategoryId" value="@Model.SubCategoryId" style="display: none">
            <div class="form-group col-md-2">
                <label asp-for="@Model.PriceFrom"></label>
                <input asp-for="@Model.PriceFrom" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label asp-for="@Model.PriceTo"></label>
                <input asp-for="@Model.PriceTo" class="form-control" />
            </div>
            <div class="form-group col-md-7">
                <label asp-for="@Model.SearchString"></label>
                <input asp-for="@Model.SearchString" class="form-control" />
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-primary" style="position: absolute; bottom: 0px;">Filter</button>
            </div>
        </form>

        @foreach (var product in Model.Products)
        {
            <div class="card mb-3">
                <div class="row m-0">
                    <div class="col-md-4 p-0">
                        <a asp-action="Details" asp-route-id="@product.Id">
                            <img class="img-thumbnail" src="@product.Picture">
                        </a>
                    </div>
                    <div class="col-md-8 p-0">
                        <div class="card-body">
                            <a asp-action="Details" asp-route-id="@product.Id">
                                <h5 class="card-title">@product.Name</h5>
                            </a>
                            <p class="card-text">@product.Price Eur</p>
                            <p class="card-text"><small class="text-muted">@product.Description</small></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
