@model UserOrder

@{
    ViewData["Title"] = "Your Cart";
}

<h1>Your Cart</h1>
<hr />

@if (Model.OrderProducts.Count == 0)
{
    <div class="text-center">
        <h5>Nothing in the Cart.</h5>
    </div>
    return;
}

<div class="offset-md-1 col-md-10">
    @foreach (var orderProduct in Model.OrderProducts)
    {
        <div class="card mb-3">
            <div class="row m-0">
                <div class="col-md-4 p-0">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@orderProduct.ProductId">
                        <img class="img-thumbnail" src="@orderProduct.Product.Picture">
                    </a>
                </div>
                <div class="col-md-8 p-0">
                    <div class="card-body">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@orderProduct.ProductId">
                            <h5 class="card-title">@orderProduct.Product.Name</h5>
                        </a>
                        <p class="card-text">@orderProduct.Product.Price Eur</p>
                        <p class="card-text"><small class="text-muted">@orderProduct.Product.Description</small></p>

                        <div class="form-inline px-2">
                            <label class="font-weight-bold">In your cart:</label>
                            <input id="quantity-of-product-@orderProduct.ProductId" class="form-control mx-2"
                                   style="width: 42px" value="@orderProduct.Quantity" disabled />
                        </div>
                        <div class="container row m-0 p-0">

                            <div class="col-md m-2 p-0">
                                <button type="button" class="btn btn-primary w-100"
                                        onclick="addProductToCart(@orderProduct.ProductId, 'quantity-of-product-@orderProduct.ProductId')">
                                    Add to My Cart
                                </button>
                            </div>
                            <div class="col-md m-2 p-0">
                                <button type="button" class="btn btn-primary w-100"
                                        onclick="removeProductFromCart(@orderProduct.ProductId, 'quantity-of-product-@orderProduct.ProductId')">
                                    Remove from My Cart
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-6 font-weight-bolder">
            Total Price: @Model.GetTotalPrice() Eur
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="UserOrders" asp-action="CompleteOrder">Complete This Order</a>
        </div>
    </div>
</div>
